# Build results
[Bb]in/
[Oo]bj/

*.cache
*.props
*.exe
*.dll
*.dbmdl
*.jfm
*.pdb
*.pdn
*.rar
*.editorconfig
*.schemaview
*.targets
*.suo
*.user
*.userosscache
*/.gitignore
*/bin/*
*/bin/debug/*
*/bin/release/*
*/debug/*
*/obj/*
*/obj/debug/*
*/obj/release/*
*/release/*
/packages*/
/*/.vs
/.vs/*
